<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="QLSV1"
			 connectionString="Data Source=(local);
			 Initial Catalog=QLYSV1; 
			 TrustServerCertificate=True;
			 Integrated security=True"/>
		<add name="DangNhap"
			 connectionString="Data Source=(local);
			 Initial Catalog=DangNhap; 
			 TrustServerCertificate=True;
			 Integrated security=True"/>
	</connectionStrings>
</configuration>